.nav-info-container{
    width: 100vw; height: 40px;
    background-color: #1E201F;
    justify-content: center;
    display: none;
    border-bottom: 5px solid #940000;
    opacity: 1;

    &.scroll-fixed{
        margin-bottom: 70px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
    }

    .nav-info{
        width: 100%; height: 100%;
        max-width: 1220px;
        display: flex;
        justify-content: end;
        align-items: center;
        box-sizing: border-box;

        .i-inf{
            margin-right: 8px;
            color: white;
            font-size: 0.8em;

            @media screen and (min-width: 510px) {
                font-size: 1em;
            }
        }

        .text-nav-info{
            color: white;
            font-size: 0.8em;
            margin-right: 8px;
            font-family: 'Karla', sans-serif;
            font-weight: 500;

            @media screen and (min-width: 510px) {
                font-size: 1em;
            }
        }

        .i-social{
            color: white;
            font-size: 1.2em;
            cursor: pointer;
            margin-left: 15px;

            @media screen and (min-width: 510px) {
                font-size: 1.5em;
            }

            &.i-social2{
                margin-right: 24px;

                @media screen and (min-width: 1225px) {
                    margin-right: 0px;
                }
            }
        }
    }
}

nav{
    height: 70px;
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: white;
    z-index: 9;
    padding: 5px 0;
    box-sizing: border-box;
    border-bottom: 2px solid #1E201F;

    .nav-1220{
        height: 100%;
        width: 1220px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        img{
            width: auto;
            height: 100%;
        }

        ul{
            width: 60%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            li a{
                text-decoration: none;
                color: #1E201F;
                font-size: 1.1em;
                font-family: 'Karla', sans-serif;
                font-weight: 600;
                
            }

            li .btn-call{
                background-color: #940000;
                width: 184px; height: 50px;
                padding: 4px;
                box-sizing: border-box;
                text-decoration: none;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-family: 'Karla', sans-serif;
                font-weight: 700;

                i{
                    margin-right: 8px;
                }
            }
        }
    }
}